body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

.card-grid{
	height: 200px;
}

.selected{
	box-shadow: 0 2px 2px 0 black,0 3px 1px -2px black,0 1px 5px 0 black;
}

/* Color definition */
#pink-color{
	background-color: #e91e63;
}

#purple-color{
	background-color: #4a148c;
}

#darkpurple-color{
	background-color: #6200ea;
}

#indigo-color{
	background-color: #3f51b5;
}

#blue-color{
	background-color: #2962ff;
}

#green-color{
	background-color: #4caf50;
}

#orange-color{
	background-color: #e65100;
}

#darkorange-color{
	background-color: #dd2c00;
}

#grey-color{
	background-color: #b0bec5;
}

#default-color{
	background-color: #2962ff;
}

/* Card Example Size */
.nano-card{
	height: 1.8rem;
	width: 1.5rem;
}

.micro-card{
	height: 2.2rem;
	width: 1.8rem;
}

.tiny-card{
	height: 3rem;
	width: 2.5rem;
}

/* Card Size */
.small-card{
	height: 8rem;
	width: 6rem;
}

.small-card .number{
	font-size: 5.6rem;
}

.medium-card{
	height: 10rem;
	width: 7.6rem;
}

.medium-card .number{
	font-size: 7rem;
}

.large-card{
	height: 12rem;
}

.large-card .number{
	font-size: 8.8rem;
}